body.survey-frontend {

    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
    	margin-top: 50px;
        font-size: 48px;
    }

    .links.shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    .links.shake input[type=text] {
        border-color:#ff2b1a;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }

    .panel-copy {
    	margin-top:80px;
    }

    .panel-repeater {
    	margin-top:40px;
    	margin-bottom:40px;
    }

    h2, h3, h4 {
    	margin-bottom:0;
    }

    h2 + p,
    h3 + p,
    h4 + p {
    	margin-top:0;
    }

    table {
    	margin: 0 auto;
    	tr {
    		td, th {
    			padding:5px 10px;

    			strong {
    				display:inline-block;
    				width: 200px;
    				text-align: left;
    				color: #000;
    				font-weight: bold;
    			}

    			input[type=text] {
			        width: 180px;
			        height: 15px;
			        line-height: 35px;
			        padding: 5px 10px;
			        border-radius: 0px;
			        border:0;
			        font-size: 14px;
			        outline: 0;
			        -webkit-appearance: none;
			        -moz-appearance: none;
			        border-bottom: 1px solid #636b6f;
			        transition: all .2s ease-in-out;
			        display: inline-block;
			        vertical-align: middle;
			        color: #636b6f;
			    }
    		}
    	}
    	&.repeater {
    		td, th {
    			max-width:200px;
    			&, strong {
    				text-align: center;
    			}
    		}
    	}
    }

    img[src$='remove.png'] {
        width:25px;
        height:auto;
        cursor:pointer;
        transition:0.3s opacity;
        opacity:0.2;
        &:hover {
            opacity:1.0;
        }
    }

	input[type=text] {
        width: 450px;
        height: 25px;
        line-height: 25px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #636b6f;
        transition: all .2s ease-in-out;
        display: inline-block;
        vertical-align: middle;
    }

    textarea {
        width: 450px;
        height: 150px;
        line-height: 25px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #636b6f;
        transition: all .2s ease-in-out;
        display: inline-block;
        vertical-align: middle;
    }

    input[type=text]:focus,
    textarea:focus {
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
    }

    a.button {
        color: #fff;
        font-weight: 800;
        font-size: 14px;
        background: #ff2b1a;
        padding: 12px;
        text-transform: uppercase;
        border: none !important;
        border-radius: 5px;
        height:49px;
        line-height:27px;
        transition: all .2s ease-in-out;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
    }
    a.button:hover {
        color: #fff !important;
        background: #243641;
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
        cursor:pointer;
    }

    .save-survey {
    	margin:50px 0px 100px 0px;
    }
}

// app tweaks

.app-footer, 
.analytics-container {
	display:none;
}

ul#survey-builder-sort {

	list-style-type: none;
	padding-left:0;

	li {
		cursor:grab;

		.panel {
			border: 1px solid #0000002b;
		}

		ul {
			list-style-type: none;
			h3 {
				font-size: 18px;
			}
		}
	}

	h3 {
		margin-bottom:15px;
		.panel-type-name {
			text-transform:capitalize;
		}
	}

	div.field-panel-controls {
		position: absolute;
		top:30px;
		right:30px;	

		.remove-field-btn {
			cursor:pointer;
			margin-right: 10px;
		}
	}

	.btn {
		margin-left:0;
		margin-top:20px;
		margin-bottom:5px;
	}
}

#add-new-session-form {

	select {
		width:100%;
		height:34px;
		padding-left:10px;
	}

	button {
		margin:0;
	}

}

#survey-sessions {
	list-style-type: none;
	padding-left:0;
	
	.session-row {
	& > [class*="col-"] {
		margin-bottom:10px !important;
	}
	.remove-session-btn {
		cursor:pointer;
	}
}

} // this is a load bearing curly brace