body.survey-frontend {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

body.survey-frontend .full-height {
  height: 100vh;
}

body.survey-frontend .flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

body.survey-frontend .position-ref {
  position: relative;
}

body.survey-frontend .top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

body.survey-frontend .content {
  text-align: center;
}

body.survey-frontend .title {
  margin-top: 50px;
  font-size: 48px;
}

body.survey-frontend .links.shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000px;
}

body.survey-frontend .links.shake input[type=text] {
  border-color: #ff2b1a;
}

body.survey-frontend .links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

body.survey-frontend .m-b-md {
  margin-bottom: 30px;
}

body.survey-frontend .panel-copy {
  margin-top: 80px;
}

body.survey-frontend .panel-repeater {
  margin-top: 40px;
  margin-bottom: 40px;
}

body.survey-frontend h2,
body.survey-frontend h3,
body.survey-frontend h4 {
  margin-bottom: 0;
}

body.survey-frontend h2 + p,
body.survey-frontend h3 + p,
body.survey-frontend h4 + p {
  margin-top: 0;
}

body.survey-frontend table {
  margin: 0 auto;
}

body.survey-frontend table tr td,
body.survey-frontend table tr th {
  padding: 5px 10px;
}

body.survey-frontend table tr td strong,
body.survey-frontend table tr th strong {
  display: inline-block;
  width: 200px;
  text-align: left;
  color: #000;
  font-weight: bold;
}

body.survey-frontend table tr td input[type=text],
body.survey-frontend table tr th input[type=text] {
  width: 180px;
  height: 15px;
  line-height: 35px;
  padding: 5px 10px;
  border-radius: 0px;
  border: 0;
  font-size: 14px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 1px solid #636b6f;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  color: #636b6f;
}

body.survey-frontend table.repeater td,
body.survey-frontend table.repeater th {
  max-width: 200px;
}

body.survey-frontend table.repeater td,
body.survey-frontend table.repeater td strong,
body.survey-frontend table.repeater th,
body.survey-frontend table.repeater th strong {
  text-align: center;
}

body.survey-frontend img[src$="remove.png"] {
  width: 25px;
  height: auto;
  cursor: pointer;
  transition: 0.3s opacity;
  opacity: 0.2;
}

body.survey-frontend img[src$="remove.png"]:hover {
  opacity: 1;
}

body.survey-frontend input[type=text] {
  width: 450px;
  height: 25px;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #636b6f;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
}

body.survey-frontend textarea {
  width: 450px;
  height: 150px;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #636b6f;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
}

body.survey-frontend input[type=text]:focus,
body.survey-frontend textarea:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

body.survey-frontend a.button {
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  background: #ff2b1a;
  padding: 12px;
  text-transform: uppercase;
  border: none !important;
  border-radius: 5px;
  height: 49px;
  line-height: 27px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

body.survey-frontend a.button:hover {
  color: #fff !important;
  background: #243641;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

body.survey-frontend .save-survey {
  margin: 50px 0px 100px 0px;
}

.app-footer,
.analytics-container {
  display: none;
}

ul#survey-builder-sort {
  list-style-type: none;
  padding-left: 0;
}

ul#survey-builder-sort li {
  cursor: -webkit-grab;
  cursor: grab;
}

ul#survey-builder-sort li .panel {
  border: 1px solid #0000002b;
}

ul#survey-builder-sort li ul {
  list-style-type: none;
}

ul#survey-builder-sort li ul h3 {
  font-size: 18px;
}

ul#survey-builder-sort h3 {
  margin-bottom: 15px;
}

ul#survey-builder-sort h3 .panel-type-name {
  text-transform: capitalize;
}

ul#survey-builder-sort div.field-panel-controls {
  position: absolute;
  top: 30px;
  right: 30px;
}

ul#survey-builder-sort div.field-panel-controls .remove-field-btn {
  cursor: pointer;
  margin-right: 10px;
}

ul#survey-builder-sort .btn {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}

#add-new-session-form select {
  width: 100%;
  height: 34px;
  padding-left: 10px;
}

#add-new-session-form button {
  margin: 0;
}

#survey-sessions {
  list-style-type: none;
  padding-left: 0;
}

#survey-sessions .session-row > [class*=col-] {
  margin-bottom: 10px !important;
}

#survey-sessions .session-row .remove-session-btn {
  cursor: pointer;
}

